@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

#root {
  max-width: 100vw;
  margin: auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url('/assets/icons/cursor.svg'), default;
}

@media only screen and (max-width: 768px) {
  .text-gradient {
    animation-duration: gradientAnimationMobil 5s infinite;
  }
}

@keyframes gradientAnimationMobile {
  0%,
  100% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 20% 50%;
  }
}

.text-gradient {
  animation: gradientAnimation 15s infinite;
}

@keyframes gradientAnimation {
  0%,
  100% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.mask {
  background: url('/assets/images/aboutme/background.jpeg') 0 0 / cover
    no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  position: relative;
}

.rotate-in,
.rotate-out,
.filter-effect {
  transition: transform 1.2s ease-in-out, filter 1.8s ease-in-out;
}

.rotate-in {
  transform: rotateY(0deg);
}

.rotate-out {
  transform: rotateY(180deg);
}

.filter-effect {
  filter: grayscale(70%) blur(6px);
}

@font-face {
  font-family: 'OliverKitchen';
  src: url('/src/font/OliverKitchen.otf') format('truetype');
}

@font-face {
  font-family: 'Rato';
  src: url('/src/font/Rato-PKBOx.otf') format('truetype');
}

.underline-container {
  position: relative;
}

.underline-animation {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 5px;
  background: #0284c7;
  border: none;
  animation: growUnderline 8s forwards;
}

@keyframes growUnderline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* TagCloud */
.tagcloud {
  display: inline-block;
  top: 0;
  left: 0;
  font-family: 'Rato';
  font-weight: 100;
  letter-spacing: 0.0625em;
  font-size: 25px;
}
.tagcloud--item {
  color: rgb(14 165 233);
  text-transform: uppercase;
}

/* Loading Animation*/
@-webkit-keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes coffee {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.coffee {
  background: #0284c7;
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 70px;
  width: 70px;
  position: relative;
  padding: 2px;
  justify-items: center;
}
.coffee:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: '';
  height: 36px;
  width: 30px;
  border: 4px solid #0284c7;
  position: absolute;
  top: 40%;
  margin-top: -13px;
  margin-left: -10px;
  left: 100%;
  border-radius: 8px;
}
.coffee div {
  height: 32px;
  width: 12px;
  background: #0284c7;
  opacity: 1;
  -webkit-animation: coffee 2s infinite;
  animation: coffee 2s infinite;
}
.coffee div:nth-child(1) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.coffee div:nth-child(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.coffee div:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
